@tailwind base;
@tailwind components;
@tailwind utilities;
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%; /* Now the width is fully responsive */
    padding: 20px;
}

.run-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

    .run-button:hover {
        background-color: #0056b3;
    }

/* Full-screen editor container */
.editor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Leave some space for the header */
    width: 100%;
     /* Darker background */
}

/* Result container */
.result-container {
    margin-top: 20px;
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
